<!DOCTYPE html>
<html class="has-background-white-ter">
  <head>
    <title>Rock Paper Scissors</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="section">
      <div class="container mx-auto px-4 py-8">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
